.header {
  flex: 0 0 7%;
}

.section {
  flex: 0 0 88%;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: 1rem 15rem;
  flex-wrap: wrap;
  overflow: scroll;
}

.footer {
  flex: 0 0 5%;
}

.body {
  position: relative;
}
