/* .form {
   background-color: var(--color-white--pure);
   
  background-color: rebeccapurple;
}

.text-input {
  all: unset;
  border: none;
  outline: none;
}
 */

.search-form {
  /* width: 30rem; */
  padding: 0.5rem 2rem;
  background-color: var(--color-white--pure);
  border-radius: 6rem;
  box-shadow: 0 0.35rem 0.5rem rgba(0, 0, 0, 0.075);
}

.text-input {
  border: none;
  outline: none;
  padding: 1rem 0;
  width: 30rem;
}
